*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.wrapper{
    background: url(background.jpg);
	background-size: cover;
	height: 100vh;
	background-attachment:fixed;
}
.wrapper .center{
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	font-family: 'Nunito Sans', sans-serif;
	user-select: none;
}

.center .buttons{
	margin: 35px 280px;
}
.buttons button{
	
	height: 70px;
	width: 200px;
	font-size: 25px;
	color: #ffcdcd;
	background:#2A4D4F;
	cursor: pointer;
	border: 1px solid #009879;
	border-radius: 15px;
	
	position: absolute;
	top: 800%;
	right:120%;	
 	transform: translate(-50%,-50%);
}
.buttons .btn2{
	position: absolute;
	top:800%;
	right:80%;
	transform: translate(-50%,-50%);

}
.buttons button:hover{
	background: #485461;
}

